#footer-wrapper {
    background: #000;
    padding: 50px 0 5px 0;
}

.footer-inner h5 {
    font-family: 'Roboto';
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 300;
    padding: 10px 0;
    font-size: 12px;
    letter-spacing: .7px;
}

.footer-inner ul {
    padding: 0;
}

.footer-inner ul li {
    list-style: none;
    padding: 2px 0;
}

.footer-inner ul li a {
    color: #757575;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 12px;
}

.footer-inner--icon i{
    padding: 5px 8px 10px 8px;
    font-size: 22px;
    text-align: center;
    background: #7E7E7E;
    margin: 0 10px;
    cursor: pointer;
}

.footer-bottom-left--inner i {
    color: #ffffff;
}

.footer-bottom-left--inner h4 {
    font-family: 'Roboto';
    color: #ffffff;
    margin-left: 8px;
    margin-right: 12px;
    font-weight: 300;
}

.footer-bottom-left h5 {
    font-size: 14px;
    margin-top: 4px;
    color: #757575;
    font-family: 'Roboto';
    font-weight: 400;
}

.footer-bottom-inner--right {
    display: flex;
    justify-content: flex-end;
}

.footer-bottom-inner--right ul {
    display: flex;
}

.footer-bottom-inner--right ul li {
    list-style: none;
    margin: 0 5px ;
}

.footer-bottom-inner--right ul li a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    font-family: 'Roboto';
}